<div id="filtro" class="container mt-4">
    <div class="row justify-content-around">
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-novidades.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Novidades</p>
                </div>
            </a>
        </div>
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-blusas.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Blusas</p>
                </div>
            </a>
        </div>
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-vestidos.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Vestidos</p>
                </div>
            </a>
        </div>
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-conjuntos.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Conjuntos</p>
                </div>
            </a>
        </div>
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-shorts.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Shorts</p>
                </div>
            </a>
        </div>
        <div class="card no-border col-lg-2 col-sm-4">
            <a class="nav-link text-black" href="">
                <img class="card-img-top circle d-block mx-auto" src="{{ url_for('static', filename='image/catalogo/categoria-calcas.webp') }}"  alt="Card image cap">
                <div class="card-body text-center">
                    <p class="muted pt-2">Calça</p>
                </div>
            </a>
        </div>              
    </div>    
</div>