<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Dollce {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon-dark.ico') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% block link %}{% endblock %}
</head>
<body>
    <div class="general-container">
        <div class="top-container">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container">
                    <!-- Logo -->
                    <a id="logo" class="navbar-brand" href="/">
                        <img class="logo" src="{{ url_for('static', filename='image/logo-light.svg') }}" alt="Logo">
                    </a>
                    <div id="busca-principal" class="nav-item w-50">
                        <input type="text" class="form-control" placeholder="Buscar produtos">
                        <button class="btn btn-outline-secondary mx-1" type="button"><i class="bi bi-search"></i></button>
                    </div>
                    <!-- Collapse bar -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_target">
                        <i class="bi bi-list text-light"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbar_target">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item px-2 mx-auto">
                                <a class="nav-link" href="#">Início</a>
                            </li>
                            <li class="nav-item px-2 mx-auto">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                            <li class="nav-item px-2 mx-auto">
                                <a class="nav-link">Coleções</a>
                            </li>
                            <li class="nav-item px-2 mx-auto">
                                <a class="nav-link">Contato</a>
                            </li>
                            <!-- Icons -->
                            <div class="m-auto d-flex font-14">
                                <li class="nav-item px-2 my-auto">
                                    <a href=""><i class="bi bi-heart text-light"></i></i></a>
                                </li>
                                <li class="nav-item px-2 my-auto">
                                    <a href=""><i class="bi bi-cart4 text-light"></i></i></a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block navbar_auxiliar %}
            <div class="mx-0 bg-rosa py-1">
                <div class="container">
                    <div id="busca-principal-mobile" class="nav-item w-100">
                        <input type="text" class="form-control" placeholder="Buscar produtos">
                        <button class="btn btn-outline-secondary mx-1" type="button"><i class="bi bi-search"></i></button>
                    </div>
                    <!-- Icons -->
                    <div id="navbar-auxiliar" class="my-auto justify-content-center">
                        <li class="px-2 list">
                            <span>Entre em contato e compartilhe:</span>
                        </li>
                        <li class="px-2 list">
                            <a href=""><i class="bi bi-whatsapp text-dark"></i></a>
                        </li>
                        <li class="px-2 list">
                            <a href="https://www.instagram.com/dollce_forever" target="_blank"><i class="bi bi-instagram text-dark"></i></a>
                        </li>
                        <li class="px-2 list">
                            <a href=""><i class="bi bi-facebook text-dark"></i></a>
                        </li>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- CONTEUDO -->
        {% block conteudo %}{% endblock %}
    </div>

    {% block footer %}
        <div id="rodape">
            <footer class="align-items-center p-3 bg-dark">
                <div class="d-flex flex-wrap justify-content-between">
                    <p class="col-md-4 my-auto text-muted">&copy; Dollce Story</p>

                    <a class="navbar-brand" href="/">
                        <img class="logo" src="{{ url_for('static', filename='image/logo-light.svg') }}" alt="Logo">
                    </a>
                    
                    <ul class="nav col-md-4 my-auto justify-content-end">
                        <li class="nav-item px-2"><a href=""><i class="bi bi-whatsapp text-light"></i></a></li>
                        <li class="nav-item px-2"><a href="https://www.instagram.com/dollce_forever" target="_blank"><i class="bi bi-instagram text-light"></i></a></li>
                        <li class="nav-item px-2"><a href=""><i class="bi bi-facebook text-light"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.min.js') }}"></script>
    {% block script %} 
        <!-- <script>
            $(document).ready(function(){
                var imagem_destaque = null;
                var nome_imagem_destaque = '';

                $(".contagem-destaques-site").each(function(){
                    id = $(this).attr("id").split("_")[1]
                    if (Cataya.isMobile && screen.width <= 767)
                        if(supportWebp == false || otimizada != 'True'){
                            nome_imagem_destaque = 'imagem_destaque_mobile_'
                        }
                        else{
                            nome_imagem_destaque = 'imagem_destaque_mobile_webp_'
                        }
                    else {
                        if(supportWebp == false || otimizada != 'True'){
                            nome_imagem_destaque = 'imagem_destaque_'
                        }
                        else {
                            nome_imagem_destaque = 'imagem_destaque_webp_'
                        }
                    }
                    imagem_destaque = $("#" + nome_imagem_destaque + id).val();
                    $(this).css("background-image", "url(\'"+imagem_destaque+"\')");
                })
            });
        </script> -->
    {% endblock %}
</body>
</html>