.box {
	width:  100%;
	height: 17vh;
	overflow: hidden;
}

.box:hover, .box:focus {
	opacity: 0.8;
}

.box > img {
	width: 100%;
	height: 100%;
}

.box-produto {
	width: 100%;
    height: 550px;
    overflow: hidden;
}

.icon {
	width: 50px;
}

.btn-cores {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    margin-right: 0.25rem;
}

.btn-compra {
	width: 100%;
	margin-top: 0.5rem;
	font-weight: 600;
	justify-content: center;
    font-size: 1.5em;
	align-items: center;
}

.btn-shopee {
	background-color: #EE4D2D;
	border: 2px solid #EE4D2D;
	color: var(--color-light);
}

.btn-shopee:hover, .btn-shopee:focus {
	background-color: white;
	border: 2px solid #EE4D2D;
	color: var(--color-dark);
}

.btn-mercadolivre {
	background-color: #ffe600;
	border: 2px solid #ffe600;
	color: var(--color-dark);
}

.btn-mercadolivre:hover, .btn-mercadolivre:focus {
	background-color: white;
	border: 2px solid #ffe600;
	color: var(--color-dark);
}

.btn-wpp {
    background-color: #34af23;
    border: 2px solid #34af23;
    color: var(--color-dark);
}

.btn-wpp:hover, .btn-wpp:focus {
    background-color: white;
    border: 2px solid #34af23;
    color: var(--color-dark);
}

.card-venda {
    width: 18rem;
    margin: 2% 1%;
    border: 0;
    padding: 0;
    position: relative;
}

.card-venda .img-produto {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}

.card-venda:hover .img-produto {
    visibility: visible;
    opacity: 1;
}

.circle {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: auto;
}

.circle:hover, .circle:focus {
    opacity: 0.8;
    transform:scale(1.1);
}

.destaque {
    position: relative;
    overflow: hidden;
    height: 18rem;
}

.destaque .descricao-destaque {
    visibility: visible;
    position: absolute;
    opacity: 0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.destaque:hover .descricao-destaque {
    visibility: visible;
    background: rgba(247,189,192,0.7);
    opacity: 1;
}

#produtos{
    background-color: var(--color-primary);
}

.carousel-size {
    height: 350px;
}

.img-carousel {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#carousel-1 {
    background-image: url(../image/banner1.jpg);
}

#carousel-2 {
    background-image: url(../image/banner2.jpg);
}

#carousel-3 {
    background-image: url(../image/banner3.jpg);
}

@media (min-width: 1200px) {
    .carousel-size {
        height: 500px;
    }
}

@media screen and (max-width: 992px) {
    .carousel-size {
    height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .card-venda{
        width: 10rem;
    }
    .carousel-size {
        height: 300px;
    }
}

@media (min-width: 480px) {
    #busca-principal-mobile {
        display: none;
    }

    #navbar-auxiliar {
        display: flex;
    }

    #busca-principal {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    #navbar-auxiliar {
        display: none;
    }

    #logo {
        display: block;
    }

    #busca-principal-mobile {
        display: flex;
    }

    #busca-principal {
        display: none;
    }
}

