:root {
    --color-primary: #F7BDC0;
    --color-secondary: #F4D5D3;
    --color-dark: #040203;
    --color-light: #EFEFEF;
    --color-primary-light: #2b2a2a;
    --bg-primary: #05050579;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bg-site {
    background-color: var(--bg-primary);
}

.logo {
    width: 5rem;
    height: 5rem;
}

.img {
    max-width: 100%;
    height: auto;
    border-style: none;
    object-fit:cover;
}

/* TEXTO */

.text-primary {
    color: var(--color-primary);
}

.text-dark {
    color: var(--color-dark);
}

.link {
    list-style: none;
    color: var(--color-primary);
    text-decoration: none;
}

.link:hover {
    list-style: none;
    color: var(--color-primary-light);
    
}

.no-border {
    border: 0% !important;
}

.title {
    font-weight: 700;
    font-size: 2rem;
}


@media (min-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 768px) {

}