{% extends 'gestor/template_gestor.html' %}

{% block conteudo %}

<div class="container my-4">
	<form id="form_produto" method="POST">
		{% if detalhes['id_produto'] %}
			<input type="hidden" name="id_produto" value="{{ detalhes['id_produto'] }}">
			<input type="hidden" name="id_detalhe" value="{{ detalhes['id_detalhe'] }}">
		{% endif %}
		<div class="accordion" id="form_accordion">
		  	<div class="accordion-item">
		    	<h3 class="accordion-header">
		      		<button class="accordion-button text-center text-dark d-block font-14 semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProduto">Produto</button>
		    	</h3>
		    	<div id="collapseProduto" class="accordion-collapse collapse show" data-bs-parent="#form_accordion">
		      		<div class="accordion-body row">
        				<div class="col-lg-6 col-md-6 col-sm-12">
        					<!-- Produto -->
    		  				<div class="form-group">
    		  			    	<label for="produto">Nome</label>
    		  			    	<input type="text" class="form-control" id="produto" name="produto" placeholder="Nome do Produto" onchange="javascript:validar_required(this.id)" value="{{ detalhes['produto'] or '' }}" onfocusout="javascript:validar_required(this.id)">
    		  			    	<small id="msg-produto"></small>
    		  			  	</div>

    		  			  	<div id="validar-desc_produto" class="form-group mt-3">
    		  			    	<label for="desc_produto">Título do Produto</label>
    		  			    	<input type="text" class="form-control" id="desc_produto" name="desc_produto" placeholder="Título do produto" value="{{ detalhes['descricao'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
    		  			    	<small id="msg-desc_produto"></small>
    		  			  	</div>
        				  	<hr>
        				  	<!-- Cores -->
    		  				<h5 class="mt-3">Cores disponíveis:</h5>
    		  				<div class="row">
        		  				{% for cor in lista_cores %}
		  							<div class="form-group col-3">
		  						  		<input type="checkbox" value="{{cor['id_cor']}}" class="form-check-input cor" id="{{'cor%s' % cor['id_cor']}}" {{'checked' if cor['id_cor'] in cores}}  name="{{'cor%s' % cor['id_cor']}}">
		  						  		<label class="form-check-label" for="{{cor['id_cor']}}">{{cor['cor']}}</label>
		  							</div>
		  						{% endfor %}
    		  				</div> 
    		  				<small id="msg-cores"></small>      		  				
        					<hr>
        			  		<!-- Tamanhos -->
    		  		  		<h5 class="mt-3">Tamanhos disponíveis:</h5>
    		  		  		<div class="d-flex justify-content-between">
    		  		  			<div class="form-group mr-1">
    		  				  		<input type="checkbox" value="True" class="form-check-input tamanho" id="tamanho_p" {{'checked' if detalhes['tamanho_p'] }} name="tamanho_p">
    		  				  		<label class="form-check-label tamanhos" for="tamanho_p">P - Pequeno</label>
    		  					</div>
    		  					<div class="form-group mr-1">
    		  				  		<input type="checkbox" value="True" class="form-check-input tamanho" id="tamanho_m" {{'checked' if detalhes['tamanho_m'] }} name="tamanho_m">
    		  				  		<label class="form-check-label tamanhos" for="tamanho_m">M - Médio</label>
    		  					</div>
    		  					<div class="form-group mr-1">
    		  				  		<input type="checkbox" value="True" class="form-check-input tamanho" id="tamanho_g" {{'checked' if detalhes['tamanho_g'] }} name="tamanho_g">
    		  				  		<label class="form-check-label tamanhos" for="tamanho_g">G - Grande</label>
    		  					</div>
    		  					<div class="form-group mr-1">
    		  				  		<input type="checkbox" value="" class="form-check-input" id="tamanho-todos" onclick="javascript: selecionar_todos(this, 'tamanho')">
    		  				  		<label class="form-check-label" for="tamanho-todos">Todos</label>
    		  					</div>
    		  				</div>
    		  				<small id="msg-tamanhos"></small>
        					<hr>
        					<!-- Vestuario -->
    						<h5 class="mt-3">Tipo da peça:</h5>
    						<select class="form-select" onchange="javascript: buscar_categoria(this.value)" id="select_vestuario" name="vestuario" >
    						  <option selected disabled>Selecionar</option>
    						  {% for vest in lista_vestuario %}
    						  	<option class="select-vestuario" {{'selected' if vest['id_vestuario']==detalhes['id_vestuario']}} value="{{ vest['id_vestuario'] }}">{{ vest['vestuario'] }}</option>
    						  {% endfor %}
    						</select>
    						<small id="msg-select_vestuario"></small>
        			  		<!-- Categoria -->
        			  		<div id="categoria" class="mt-3 esconder">
        			  			<input type="hidden" id="id_categoria" name="id_categoria" value="{{ detalhes['id_categoria'] or '' }}">
        			  			<h5>Categoria:</h5>
        			  			<select id="select_categoria" name="categoria" class="form-select">
        			  			  	<option selected disabled>Selecionar</option>
        			  			</select>
        			  			<small id="msg-select_categoria"></small>
        			  		</div>
        				</div>

        				<div class="col-lg-6 col-md-6 col-sm-12">
        					<div class="form-group">
        					  	<label for="resumo">Resumo</label>
        					  	<textarea class="form-control" id="resumo" name="resumo" rows="3" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">{{ detalhes['resumo'] or '' }}</textarea>
        					  	<small id="msg-resumo"></small>
        					</div>
        					<!-- Direcionamento -->
    		  				<div class="form-group mt-3">
    		  			    	<label for="url_mercado_livre">URL do mercado livre</label>
    		  			    	<input type="url" class="form-control" id="url_mercado_livre" name="url_mercado_livre" placeholder="Link do mercado livre" value="{{ detalhes['url_mercado_livre'] or '' }}" onchange="javascript:validar_url(this.id)" onfocusout="javascript:validar_url(this.id)">
    		  			    	<small id="msg-url_mercado_livre"></small>
    		  			  	</div>
    		  			  	<div id="validar-url_shopee" class="form-group mt-3">
    		  			    	<label for="url_shopee">URL da Shopee</label>
    		  			    	<input type="url" class="form-control" id="url_shopee" name="url_shopee" placeholder="Link da Shopee" value="{{ detalhes['url_shopee'] or '' }}" onchange="javascript:validar_url(this.id)" onfocusout="javascript:validar_url(this.id)">
    		  			    	<small id="msg-url_shopee"></small>
    		  			  	</div>
        					<!-- Especificacoes -->
    		  				<div class="form-group mt-3">
    		  			    	<label for="modelo">Modelo</label>
    		  			    	<input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo da peça" value="{{ detalhes['modelo'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
    		  			    	<small id="msg-modelo"></small>
    		  			  	</div>
    		  			  	<div class="form-group mt-3">
    		  			    	<label for="material">Material</label>
    		  			    	<input type="text" class="form-control" id="material" name="material" placeholder="Material da peça" value="{{ detalhes['material'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
    		  			    	<small id="msg-material"></small>
    		  			  	</div>
    		  			  	<div class="form-group mt-3">
    		  			    	<label for="composicao">Composição</label>
    		  			    	<input type="text" class="form-control" id="composicao" name="composicao" placeholder="Composição da peça" value="{{ detalhes['composicao'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
    		  			    	<small id="msg-composicao"></small>
    		  			  	</div>
        				</div>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="accordion-item">
		  	  	<h3 class="accordion-header">
		  	    	<button class="accordion-button text-center text-dark d-block font-14 semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseImage">Imagens</button>
		  	  	</h3>
		  	  	<div id="collapseImage" class="accordion-collapse collapse" data-bs-parent="#form_accordion">
	  	    		<div class="row">
		  	    		<div class="accordion-body col-lg-4 col-md-6 col-sm-12">
	  	    				<div class="form-group">
	  	    				    <input type="file" class="form-control-file" id="imagem_principal" name="imagem_principal" onchange="javascript: ver_imagem(this, 'preview1')"><br>
	  	    				    <small id="imagem_principal_msg" class="form-text text-muted">Imagem principal</small>
	  	    			  	</div>
	  	    			  	<div class="form-group mt-2">
	  	    				    <input type="file" class="form-control-file" id="imagem_secundaria" name="imagem_secundaria" onchange="javascript: ver_imagem(this, 'preview2')"><br>
	  	    				    <small id="imagem_secundaria_msg" class="form-text text-muted">Imagem secundária</small>
	  	    			  	</div>
	  	    			  	<div class="form-group mt-2">
	  	    				    <input type="file" class="form-control-file" id="imagem_adicional1" name="imagem_adicional1" onchange="javascript: ver_imagem(this, 'preview3')"><br>
	  	    				    <small id="imagem_adicional1_msg" class="form-text text-muted">Imagem adicional</small>
	  	    			  	</div>
	  	    			  	<div class="form-group mt-2">
	  	    				    <input type="file" class="form-control-file" id="imagem_adicional2" name="imagem_adicional2" onchange="javascript: ver_imagem(this, 'preview4')"><br>
	  	    				    <small id="imagem_adicional2_msg" class="form-text text-muted">Imagem adicional</small>
	  	    			  	</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div id="box-preview1" class="p-1">
								<small>* Imagem principal</small>
								<img class="border img p-1" src="{{ url_for('static', filename=imagens['imagem_destaque'])}}" id="preview1" alt="">
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div id="box-preview2" class="p-1">
								<small>* Imagem secundária</small>
								<img class="border img p-1" src="{{ url_for('static', filename=imagens['imagem_secundaria'])}}" id="preview2" alt="">
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div id="box-preview3" class="p-1">
								<small>* Imagem adicional</small>
								<img class="border img p-1" src="{{ url_for('static', filename=imagens['imagem_adicional1'])}}" id="preview3" alt="">
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div id="box-preview4" class="p-1">
								<small>* Imagem adicional</small>
								<img class="border img p-1" src="{{ url_for('static', filename=imagens['imagem_adicional2'])}}" id="preview4" alt="">
							</div>
						</div>
	  	    		</div>
				</div>
			</div>
		  	<div class="accordion-item">
		  	  	<h3 class="accordion-header">
		  	    	<button class="accordion-button text-center text-dark d-block font-14 semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrecos">Preços</button>
		  	  	</h3>
		  	  	<div id="collapsePrecos" class="accordion-collapse collapse" data-bs-parent="#form_accordion">
	  	    		<div class="accordion-body row">
		  	    		<div class="col-lg-6 col-md-6 col-sm-12">
  	    		  			<div class="form-group my-1">
  	    		  				<label for="preco">Preço</label>
  	    				  		<input type="text" class="form-control" id="preco" name="preco" placeholder="Preço da peça" value="{{ detalhes['preco'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
  	    				  		<small id="msg-preco"></small>
  	    					</div>
				  			<div class="form-group my-1">
				  				<label for="preco_promocional">Preço com desconto</label>
						  		<input type="text" class="form-control" id="preco_promocao" name="preco_promocao" placeholder="Preço promocional" value="{{ detalhes['preco_promocao'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
						  		<small id="msg-preco_promocao"></small>
							</div>
				  			<div class="form-group my-1">
				  				<label for="parcelamento">Qtd. de parcelamento</label>
						  		<input type="number" class="form-control" id="parcelamento" name="parcelamento" placeholder="Quantidade de parcelamento" value="{{ detalhes['parcelamento'] or '' }}" onchange="javascript:validar_required(this.id)" onfocusout="javascript:validar_required(this.id)">
						  		<small id="msg-parcelamento"></small>
							</div>
	  	    			</div>
	  	    		</div>
				</div>
			</div>
		<div class="text-center mt-3 d-flex justify-content-center">
			<a type="button" class="btn btn-warning mx-1" href="{{ url_for('adm') }}">Voltar</a>
			<input type="button" class="btn btn-success mx-1" value="Salvar" onclick="javascript:validar_alterar_produto()">
		</div>
	</form>
</div>
{% endblock %}

{% block script %} 
	<script type="text/javascript" src="{{ url_for('static', filename='js/form.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			id_vestuario = $('.select-vestuario:selected').val()
			if(id_vestuario != undefined){
				buscar_categoria(id_vestuario)
			}
		})
	</script>
{% endblock %}

