{% extends 'gestor/template_gestor.html' %}

{% block conteudo %}
<div class="container">
	<form id="filtro" class="my-4">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="form-group">
				   <label for="buscar_produto">Buscar por Produto</label>
				   <input type="text" class="form-control" id="buscar_produto" placeholder="Buscar produto">
			  	</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="form-group">
					<label for="buscar_produto">Buscar por Vestuário</label> 
					<select class="form-control">
						<option disabled selected="">Selecionar</option>
						{% for i in vestuario %}
							<option value="{{ i.id_vestuario }}">{{ i.vestuario }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mt-auto">
				<button class="btn btn-primary my-auto">Buscar</button>
				<a class="btn btn-outline-success my-auto" href="{{ url_for('alterar_produto') }}">Cadastrar Produto</a>
			</div>
		</div>
	</form>
	<hr>
	<form id="table_produtos" action="" method="POST">
		<input type="hidden" id="id_detalhe" name="id_detalhe" value="">
		<table class="table table-striped">
		  	<thead>
		    	<tr class="text-center">
		      		<th scope="col">ID</th>
		      		<th scope="col">Produto</th>
		     		<th scope="col">Descrição</th>
		      		<th scope="col">Vestuário</th>
		      		<th scope="col">Última atualização</th>
		      		<th scope="col">Comandos</th>

		    	</tr>
		  	</thead>
		  	<tbody>
		  		{% for p in produtos %}
			    <tr class="text-center">
			      	<td scope="row">{{ p.id_produto }}</td>
			      	<td>{{ p.produto }}</td>
			      	<td>{{ p.descricao }}</td>
			      	<td>{{ p.vestuario }}</td>
			      	{% if p.dt_alteracao %}
			      		<td>{{ p.dt_alteracao|date() }}</td>
			      	{% else %}
			      		<td>{{ p.dt_criacao|date() }}</td>
			      	{% endif %}
			      	<td>
			      		<a class="btn" href="{{ url_for('produto_html', id_produto=p.id_produto) }}">
			      			<i class="bi bi-eye text-success"></i>
			      		</a>
			      		<a class="btn" href="{{ url_for('alterar_produto', id_produto=p.id_produto) }}">
			      			<i class="bi bi-pencil-square text-primary"></i>
			      		</a>
			      		<button class="btn" onclick="javascript: deletar_produto({{p.id_detalhe}})">
			      			<i class="bi bi-x-circle text-danger"></i>
			      		</button>
			      	</td>
			    </tr>
			    {% endfor %}
		  	</tbody>
		</table>
	</form>
</div>
{% endblock %}