<div class="row justify-content-center my-3">
	<div class="col-lg-3 col-md-6 col-sm-12 p-0">
		<div class="destaque">
			<input type="image" class="img m-auto d-block w-100" src="{{ url_for('static', filename='image/destaque.jpg') }}" alt="destaque">
			<div class="descricao-destaque gradient">
				<div class="px-3 py-4 text-center my-5">
					<h3 class="">Coleção Fashion</h3>
					<span>O limite é a sua imaginação!</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-12 p-0">
		<div class="destaque">
			<input type="image" class="img m-auto d-block w-100" src="{{ url_for('static', filename='image/destaque1.jpg') }}" alt="destaque">
			<div class="descricao-destaque gradient">
				<div class="px-3 py-4 text-center my-5">
					<h3 class="">Coleção Esporte</h3>
					<span>Até a onde vai seu potencial?</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-12 p-0">
		<div class="destaque">
			<input type="image" class="img m-auto d-block w-100" src="{{ url_for('static', filename='image/destaque2.jpg') }}" alt="destaque">
			<div class="descricao-destaque gradient">
				<div class="px-3 py-4 text-center my-5">
					<h3 class="">Coleção Sofisticada</h3>
					<span>O básico nunca sai de moda!</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-12 p-0">
		<div class="destaque">
			<input type="image" class="img m-auto d-block w-100" src="{{ url_for('static', filename='image/destaque3.jpg') }}" alt="destaque">
			<div class="descricao-destaque gradient">
				<div class="px-3 py-4 text-center my-5">
					<h3 class="">Coleção Mimada</h3>
					<span>Sugestão da chefe!</span>
				</div>
			</div>
		</div>
	</div>
</div>