{% extends 'template.html' %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.min.css') }}">
{% endblock %}
{% block conteudo %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% include 'utils/alert.html' %}
        {% endif %}
    {% endwith %}
    <div class="container mb-5 mt-3">
        {% include 'utils/breadcrumb.html' %}
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <!-- Fotos Destaque -->
                <div class="box-produto">
                    <input type="image" class="img" src="{{ url_for('static', filename=imagem_destaque.url_imagem)}}"
                    id="image_destaque" alt="{{ imagem_destaque.descricao }}"> 
                </div>
                <!-- Fotos Opcoes -->
                <div class="d-flex mt-3 justify-content-between">
                    {% for i in imagens %}
                        <div class="p-2">
                            <div class="box">
                                <input type="image" class="img" src="{{ url_for('static', filename=i.url_imagem)}}" onclick="javascript: trocar_imagem(this)" alt="{{ i.descricao }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="pb-2">
                    <h3>{{ dados['produto'] }}</h3>
                </div>
                <div class="d-flex my-2">
                    <s><h6 class="muted my-auto">{{ "R$ %.2f"|format(dados['preco']) }}</h6></s>
                    <h4 class="px-2 text-dark bold my-auto">{{ "R$ %.2f"|format(dados['preco_promocao']) }}</h4>  
                </div>
                <b><p>{{ dados['parcelamento'] }}x de {{"R$ %.2f"|format(dados['preco_parcelado']) }}</p></b>
                <div>
                    <p>{{ dados['descricao'] }}</p>
                </div>

                <div class="my-2">
                    <b>Cores disponíveis:</b>
                    <div class="d-flex mt-1">
                        {% for cor in cores %}
                            <span style="background-color: {{ cor['hex'] }}" class="btn-cores"></span>
                        {% endfor %}
                    </div>
                </div>

                <div class="my-2">
                    <b>Tamanhos disponíveis:</b>
                    <div class="d-flex mt-1">
                        {% if dados['tamanho_p'] %}
                            <img type="image" class="mr-1" width="35" src="{{ url_for('static', filename='image/tamanho-p.svg')}}" alt="P - disponivel">
                        {% else %}
                            <img type="image" class="mr-1" width="35" src="{{ url_for('static', filename='image/sem-tamanho-p.svg')}}" alt="P - indisponivel">
                        {% endif %}

                        {% if dados['tamanho_m'] %}
                            <img type="image" class="mr-1" width="35" src="{{ url_for('static', filename='image/tamanho-m.svg')}}" alt="M - disponivel">
                        {% else %}
                            <img type="image" class="mr-1" width="35" src="{{ url_for('static', filename='image/sem-tamanho-m.svg')}}" alt="M - indisponivel">
                        {% endif %}

                        {% if dados['tamanho_g'] %}
                            <img class="mr-1" width="35" src="{{ url_for('static', filename='image/tamanho-g.svg')}}" alt="G - disponivel">
                        {% else %}
                            <img type="image" class="mr-1" width="35" src="{{ url_for('static', filename='image/sem-tamanho-g.svg')}}" alt="G - Indisponivel">
                        {% endif %}
                    </div>
                </div>
                {% if dados['url_shopee'] %}
                <a class="btn btn-compra btn-shopee d-flex mx-auto" target="_blank" href="{{ dados['url_shopee'] }}">
                    <div class="icon px-1">
                        <img src="{{ url_for('static', filename='image/shopee-icon.png')}}" class="img">
                    </div>
                    <div class="px-1">Comprar na Shopee</div>
                </a>
                {% endif %}
                {% if dados['url_mercado_livre'] %}
                <a class="btn btn-compra btn-mercadolivre d-flex mx-auto" target="_blank" href="{{ dados['url_mercado_livre'] }}">
                    <div class="icon px-1">
                        <img src="{{ url_for('static', filename='image/mercado-livre.png')}}" class="img">
                    </div>
                    <div class="px-1">Comprar no Mercado Livre</div>
                </a>
                {% endif %}
                <a class="btn btn-compra btn-wpp d-flex mx-auto" target="_blank" href="">
                    <div class="icon px-1">
                        <img src="{{ url_for('static', filename='image/wpp.png')}}" class="img">
                    </div>
                    <div class="px-1">Comprar pelo WhatsApp</div>
                </a>
                <hr>
                <div>
                    <h5>Resumo:</h5>
                    <p>{{ dados['resumo'] }}</p>
                </div>
                <div>
                    <h5>Especificações:</h5>
                    <span class="semibold">Tamanhos: </span>P ao G<br>
                    <span class="semibold">Cores: </span>{{ todas_cores }}<br>
                    <span class="semibold">Modelo: </span>{{ dados['descricao'] }}<br>
                    <span class="semibold">Material: </span>{{ dados['material'] }}<br>
                    <span class="semibold">Composição: </span>{{dados['composicao'] }}<br> 
                </div>
            </div>
        </div>
        <hr>
        <h4 class="text-center">Recomendados</h4>
        <div class="row">
            {% for rec in recomendados %}
                <div class="card card-venda col-lg-2 col-md-4 col-sm-6">
                    <a class="nav-link text-black text-center" href="">
                        <input type="image" class="card-img-top img" src="{{ url_for('static', filename='image/roupas/corset-brasil.jpg')}}"
                            id="teste" alt="">
                            <span class="card-title">{{ rec['produto'] }}</span>
                            <div class="d-flex justify-content-center align-items-center">
                                <s class="text-muted mx-1">{{ "R$ %.2f"|format(rec['preco']) }}</s>
                                <span class="font-14 text-danger">{{ "R$ %.2f"|format(rec['preco_promocao']) }}</span>
                            </div>
                            <small class="text-muted">{{ rec['parcelamento'] }}x de {{"R$ %.2f"|format(rec['preco_parcelado']) }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %} 
        </div>            
    </div>
{% endblock %}