<div class="card card-venda col-lg-3 col-md-4 col-sm-6">
    <a class="nav-link text-black" href="{{ '/%s'% p.id_produto }}">
        <input type="image" class="card-img-top img" src="{{ url_for('static', filename=p.imagem_principal) }}"
            id="{{ p.id_produto }}" alt="{{ p.descricao_principal }}">
        <input type="image" class="card-img-top img img-produto" src="{{ url_for('static', filename=p.imagem_secundaria) }}"
            id="{{'sec%s' % p.id_produto }}" alt="{{ p.descricao_secundaria }}">
        <div class="card-body text-center">
            <p class="card-title">{{ p.produto }}</p>
            <div class="card-text">
                <s class="text-muted">{{ "R$ %.2f"|format(p.preco) }}</s>
                <b><h4 class="text-danger">{{ "R$ %.2f"|format(p.preco_promocao) }}</h4></b>
                <small class="text-muted">{{ p.parcelamento }}x de {{ "R$ %.2f"|format(p.preco_parcelado) }}</small>
            </div>
        </div>
    </a>
</div>
	    